USE [movies]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[SoftDeleted] [datetime2](7) NULL,
	[Updated] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Updated] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SoftDeleted] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Directors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Updated] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SoftDeleted] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieActor]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieActor](
	[MovieId] [int] NOT NULL,
	[ActorId] [int] NOT NULL,
 CONSTRAINT [PK_MovieActor] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenre]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenre](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_MovieGenre] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieReservations]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieReservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Updated] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SoftDeleted] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[ReservationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MovieReservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Updated] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SoftDeleted] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[RuntimeMinutes] [int] NOT NULL,
	[DirectorId] [int] NOT NULL,
	[OnStock] [int] NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UseCaseLogs]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UseCaseLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[UseCaseName] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Actor] [nvarchar](max) NULL,
 CONSTRAINT [PK_UseCaseLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Updated] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SoftDeleted] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUseCases]    Script Date: 02-Jul-20 1:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUseCases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UseCaseId] [int] NOT NULL,
 CONSTRAINT [PK_UserUseCases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200625093430_add actors', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200625131039_add user, config user, config actors', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200630084623_movies, genres, directors', N'3.1.5')
GO
SET IDENTITY_INSERT [dbo].[Actors] ON 

INSERT [dbo].[Actors] ([Id], [FirstName], [LastName], [Created], [IsDeleted], [SoftDeleted], [Updated], [IsActive]) VALUES (1, N'Chris', N'Evans', CAST(N'2020-06-30T19:09:44.0181592' AS DateTime2), 0, NULL, NULL, 1)
INSERT [dbo].[Actors] ([Id], [FirstName], [LastName], [Created], [IsDeleted], [SoftDeleted], [Updated], [IsActive]) VALUES (2, N'Robert', N'Downey', CAST(N'2020-06-30T19:10:02.0236645' AS DateTime2), 0, NULL, NULL, 1)
INSERT [dbo].[Actors] ([Id], [FirstName], [LastName], [Created], [IsDeleted], [SoftDeleted], [Updated], [IsActive]) VALUES (3, N'Jennifer', N'Lawrance', CAST(N'2020-07-02T09:01:50.4789369' AS DateTime2), 0, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Actors] OFF
GO
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [FirstName], [LastName]) VALUES (1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, NULL, 0, N'Dodo', N'Abashidze')
INSERT [dbo].[Directors] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [FirstName], [LastName]) VALUES (2, CAST(N'2020-06-30T15:39:11.3391356' AS DateTime2), NULL, 0, NULL, 1, N'George', N'Abbot')
INSERT [dbo].[Directors] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [FirstName], [LastName]) VALUES (4, CAST(N'2020-07-01T14:35:29.7121026' AS DateTime2), CAST(N'2020-07-01T14:37:35.7491929' AS DateTime2), 0, NULL, 1, N'Jim', N'Abrahams')
SET IDENTITY_INSERT [dbo].[Directors] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [Name]) VALUES (1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, NULL, 0, N'Action')
INSERT [dbo].[Genres] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [Name]) VALUES (2, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, NULL, 0, N'Adventure')
INSERT [dbo].[Genres] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [Name]) VALUES (3, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, NULL, 0, N'Comedy')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
INSERT [dbo].[MovieActor] ([MovieId], [ActorId]) VALUES (1, 1)
INSERT [dbo].[MovieActor] ([MovieId], [ActorId]) VALUES (3, 1)
INSERT [dbo].[MovieActor] ([MovieId], [ActorId]) VALUES (1, 2)
GO
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (3, 1)
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (1, 2)
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[MovieReservations] ON 

INSERT [dbo].[MovieReservations] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [UserId], [MovieId], [ReservationDate]) VALUES (1, CAST(N'2020-07-02T08:24:36.8935018' AS DateTime2), NULL, 0, NULL, 1, 7, 1, CAST(N'2020-07-02T08:24:36.7843982' AS DateTime2))
INSERT [dbo].[MovieReservations] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [UserId], [MovieId], [ReservationDate]) VALUES (2, CAST(N'2020-07-02T08:45:07.9124485' AS DateTime2), NULL, 0, NULL, 1, 7, 1, CAST(N'2020-07-02T08:45:07.7076108' AS DateTime2))
INSERT [dbo].[MovieReservations] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [UserId], [MovieId], [ReservationDate]) VALUES (7, CAST(N'2020-07-02T08:45:07.7076108' AS DateTime2), NULL, 0, NULL, 1, 8, 2, CAST(N'2020-07-02T08:45:07.7076108' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MovieReservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [Title], [Description], [ReleaseDate], [RuntimeMinutes], [DirectorId], [OnStock]) VALUES (1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-07-02T11:18:21.4151562' AS DateTime2), 0, NULL, 0, N'Movie1', N'description', CAST(N'2020-06-30T11:08:59.9331295' AS DateTime2), 60, 1, -8)
INSERT [dbo].[Movies] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [Title], [Description], [ReleaseDate], [RuntimeMinutes], [DirectorId], [OnStock]) VALUES (2, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, NULL, 0, N'Movie2', N'description', CAST(N'2020-06-30T12:05:45.9457299' AS DateTime2), 60, 2, 10)
INSERT [dbo].[Movies] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [Title], [Description], [ReleaseDate], [RuntimeMinutes], [DirectorId], [OnStock]) VALUES (3, CAST(N'2020-06-30T19:23:36.2031875' AS DateTime2), NULL, 0, NULL, 1, N'Movie3', N'Description1', CAST(N'2015-03-25T00:00:00.0000000' AS DateTime2), 60, 6, 10)
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[UseCaseLogs] ON 

INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (1, CAST(N'2020-07-01T05:22:30.5176960' AS DateTime2), N'Ef get one actor', N'3', N'Anonimus')
INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (2, CAST(N'2020-07-01T05:23:21.5613023' AS DateTime2), N'Ef get one actor', N'3', N'Anonimus')
INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (3, CAST(N'2020-07-01T05:24:00.3082061' AS DateTime2), N'Ef get one actor', N'1', N'Anonimus')
GO
SET IDENTITY_INSERT [dbo].[UseCaseLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [FirstName], [LastName], [Username], [Password], [Email]) VALUES (1, CAST(N'2020-06-30T22:06:05.6326896' AS DateTime2), NULL, 0, NULL, 1, N'Pera', N'Peric', N'pera12345', N'566a489658425a07b32ed07c34d7a25cb4c3b16947799fdae2e8a9715cfce412', N'pera@gmail.com')
INSERT [dbo].[Users] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [FirstName], [LastName], [Username], [Password], [Email]) VALUES (7, CAST(N'2020-07-01T16:50:31.8689154' AS DateTime2), NULL, 0, NULL, 1, N'Admin', N'Admin', N'admin123', N'566a489658425a07b32ed07c34d7a25cb4c3b16947799fdae2e8a9715cfce412', N'admin@gmail.com')
INSERT [dbo].[Users] ([Id], [Created], [Updated], [IsDeleted], [SoftDeleted], [IsActive], [FirstName], [LastName], [Username], [Password], [Email]) VALUES (8, CAST(N'2020-07-01T17:39:19.6255804' AS DateTime2), NULL, 0, NULL, 1, N'Aca', N'Todor', N'aca12345', N'566a489658425a07b32ed07c34d7a25cb4c3b16947799fdae2e8a9715cfce412', N'atodorovic197@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserUseCases] ON 

INSERT [dbo].[UserUseCases] ([Id], [UserId], [UseCaseId]) VALUES (1, 1, 2)
INSERT [dbo].[UserUseCases] ([Id], [UserId], [UseCaseId]) VALUES (2, 1, 9)
INSERT [dbo].[UserUseCases] ([Id], [UserId], [UseCaseId]) VALUES (3, 1, 20)
SET IDENTITY_INSERT [dbo].[UserUseCases] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Users_Username]    Script Date: 02-Jul-20 1:25:36 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [AK_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actors] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Created]
GO
ALTER TABLE [dbo].[Actors] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Actors] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [OnStock]
GO
ALTER TABLE [dbo].[MovieActor]  WITH CHECK ADD  CONSTRAINT [FK_MovieActor_Actors_ActorId] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieActor] CHECK CONSTRAINT [FK_MovieActor_Actors_ActorId]
GO
ALTER TABLE [dbo].[MovieActor]  WITH CHECK ADD  CONSTRAINT [FK_MovieActor_Movies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieActor] CHECK CONSTRAINT [FK_MovieActor_Movies_MovieId]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Genres_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Genres_GenreId]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Movies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Movies_MovieId]
GO
ALTER TABLE [dbo].[MovieReservations]  WITH CHECK ADD  CONSTRAINT [FK_MovieReservations_Movies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[MovieReservations] CHECK CONSTRAINT [FK_MovieReservations_Movies_MovieId]
GO
ALTER TABLE [dbo].[MovieReservations]  WITH CHECK ADD  CONSTRAINT [FK_MovieReservations_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MovieReservations] CHECK CONSTRAINT [FK_MovieReservations_Users_UserId]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_Movies_Directors_DirectorId] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Directors] ([Id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_Movies_Directors_DirectorId]
GO
ALTER TABLE [dbo].[UserUseCases]  WITH CHECK ADD  CONSTRAINT [FK_UserUseCases_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserUseCases] CHECK CONSTRAINT [FK_UserUseCases_Users_UserId]
GO
